@import url("https://fonts.googleapis.com/css?family=PT+Serif");

body {
  font-family: "PT Serif";
  background-color: #f8f8f8;
  color: #222222;
}

header {
  padding: 20px 0;
}

.header-name {
  font-weight: bold;
  font-size: 20px;
  color: #222222;
}

.header-name:hover {
  color: #222222;
  text-decoration: none;
}

.header-skills {
  font-size: 16px;
  margin-left: 16px;
}

.header-links {
  display: block;
  margin: 0;
  padding: 0;
  text-align: right;
}

.header-links .item {
  display: inline-block;
}

.header-links .item a {
  padding: 0.5rem 1rem;
  color: #222222;
  border-bottom: 2px solid transparent;
}

.header-links .item a:hover {
  text-decoration: none;
}

.header-links .item a.active {
  border-bottom: 2px solid #007bff;
}

.tagline-container {
  background: #322c4c;
}

.tagline {
  font-size: 1.75rem;
  padding: 9rem;
  color: white;
}

.specialty-icon .brackets,
.specialty-icon .fa {
  font-size: 50px;
  font-weight: bold;
  line-height: 48px;
}

.specialty-icon {
  float: left;
}

.specialty-description {
  margin-left: 4rem;
  margin-right: 1rem;
}

.project-cta {
  padding: 3rem;
}

footer {
  padding: 3rem;
}

.project {
  padding: 2rem 0;
}

.project-image {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  margin: 1rem 0;
  border: 1px solid #dcdcdc;
  background: #cdcdcd;
  text-align: center;
}

.project-image img {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
}

.project-image.multiple img {
  display: inline-block;
  margin: 1.5rem 1rem;
  width: auto;
  max-height: 380px;
}

.project-image .project-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(40, 40, 40, 0.8);
}

.project-overlay .link {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 1rem;
}

.project-image.absolute img {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  max-height: 420px;
  max-width: 748px;
}

.project-image.absolute {
  height: 420px;
}

.project-image.absolute img.cms-image {
  margin-top: 3rem;
}

.project-image:hover .project-overlay {
  display: block;
}

@media (max-width: 768px) {
  .tagline {
    padding: 3rem 0.5rem;
  }

  .header-name,
  .header-skills {
    display: block;
    text-align: center;
  }

  .header-skills {
    margin: 0;
  }

  .header-links {
    text-align: center;
    margin-top: 1rem;
  }

  .project {
    padding: 2rem;
  }

  .project-image.absolute img {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
  }

  .project-image.absolute img.cms-image {
    left: auto;
    right: 0;
    margin-top: 1.5rem;
  }

  .project-image.absolute {
    height: 200px;
  }
}
